
<launch>        
        <!-- Vision Node -->
        <arg name="rosbag_loc" default="/home/asinha/rosbag/auvic_"/>
        <arg name="node_name" default="top_face_cam"/>
        <arg name="fps" default="10"/>
        <arg name="fd" default="/dev/video0"/>

        <node name="rosbag_$(arg node_name)" pkg="rosbag" type="record" args="-e /video/$(arg node_name)$ -o $(arg rosbag_loc)"/>
        <node name="$(arg node_name)" pkg="vision" type="sender" required="true">
          <param name="topic_name" value="$(arg node_name)"/>
          <param name="fps" value="$(arg fps)"/>
          <param name="fd" value="$(arg fd)"/>
        </node>

</launch>
