<launch>
     <arg name="can_start" default="true"/>
     <arg name="poll_delay" default="5"/>
     <arg name="start_delay" default="30"/>

    <node name="ai_master" pkg="ai" type="master" required="true">
        <param name="can_start" value="$(arg can_start)"/>
        <param name="start_delay" value="$(arg start_delay)"/>
        <param name="poll_delay" value="$(arg poll_delay)"/>
    </node>
</launch>