<launch>

    <include file="$(find vision)/launchfiles/camera.launch">
        <arg name="fd" value="/dev/video0" />
        <arg name="topic_name" value="/video/top_face_cam" />
        <arg name="node_name" value="camera_one" />
        <arg name="record" value="false"/>
    </include>
    <include file="$(find vision)/launchfiles/sonia_bag.launch">
        <arg name="bag_location" value="/home/andy/code/Sonia_video/buoys/buoy_cloudy_morning_front_static_day1.bag"/>
        <arg name="node_name" value="player"/>
        <arg name="topic" value = "/provider_vision/Front_GigE"/>
        <arg name="message" value = "/video/one"/>
    </include>  

    <node name="web_video_server" pkg="web_video_server" type="web_video_server" required="true"/>
    <include file="$(find peripherals)/launchfiles/depth_node.launch"/>    
    <node name="roslibjs" pkg="rosbridge_server" type="rosbridge_websocket" required="true"/>
    <node name="webserver" pkg="webgui" type="server.py" required="true"/>
    <node name="rosapi" pkg="rosapi" type="rosapi_node">
        <param name="topics_glob" value="[*]" />
        <param name="services_glob" value="[*]" />
        <param name="params_glob" value="[*]" />
    </node>



</launch>

