<launch>
    <arg name="max_linear_vel" value="5.0"/>
    <arg name="max_angular_vel" value="180.0"/>

    <!--<include file="$(find vision)/launchfiles/camera.launch"/>-->
    <include file="$(find webgui)/webgui.launch"/>
    <include file="$(find monitor)/launchfiles/serial.launch"/>
    <!--<include file="$(find peripherals)/launchfiles/imu.launch"/>-->
    <!--<include file="$(find peripherals)/launchfiles/motors.launch"/>-->
    <include file="$(find navigation)/launchfiles/rov.launch"/>
    <include file="$(find navigation)/launchfiles/control_system.launch">
        <arg name="max_linear_vel" value="$(arg max_linear_vel)"/>
        <arg name="max_angular_vel" value="$(arg max_angular_vel)"/>
    </include>
    <include file="$(find navigation)/launchfiles/thrustmap.launch">
        <arg name="max_linear_vel" value="$(arg max_linear_vel)"/>
        <arg name="max_angular_vel" value="$(arg max_angular_vel)"/>
    </include>
    <!--Maually call nodes which dont need launchfiles-->
</launch>
